.selected {
  /* @apply text-green-500 border border-green-500 hover:bg-green-500; */
}

.selected:not([disabled]) {
  border: 1px solid red;
}

.disabled:hover {
  background: green;
}

.selected:hover:not([aria-disabled="true"]) {
  background: green;
}

.selected:not([aria-disabled="true"]) {
  border: 1px solid red;
  background-color: red;
}

.rdp-button:hover:not([aria-disabled="true"]) {
  background: green;
}
